<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/restaurants.css" />
  </head>
  <body>
    <!-- Note that < % = makes the variable value a text -->
    <!-- < % - value by this operator is treated as HTML code and not text -->
    <!-- Dynamic data can be passed also by using include('fileName', { dynamic Variable })-->
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1><%= restaurant.name %>  </h1>
      <p><%= restaurant.cuisine %> | <%= restaurant.address %></p>
      <p><%= restaurant.description %></p>
      <p><a href="<%= restaurant.website %>">Visit Website</a></p>
    </main>
  </body>
</html>
